.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPokemon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
article {
    background-color: rgb(173, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: 200px;
    width: 250px;
    margin: 10px 10px;
    border: 1px solid black;
    
}

article img{
    height: 100px;
}