header{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 200px;
    height: 70px;
    margin-left: 20px;
    cursor: pointer;
}

header a + a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}